<html>
<table border=1 solid=2 cellspacing=0 cellpadding=0 bordercolor="FFFFFF">
	<br>
	<br>
	
	<div id='chart'></div>
	<%#= render_chart(@chart, 'chart') %>
	<tr>
		<td><b><i>Name:</i></b></td>
		<td><%=@user_show.full_name%></td>
	</tr>
	<tr>
		<td><b><i>E_mail:</i></b></td>
		<td><%=@user_show.email%></td>
	</tr>
	<tr>
		<td><b><i>Model:</b></i></td>
		<td><%=@car_pertinente.model%></td>
	</tr>
	<tr>
		<td><b><i>Make:</b></i></td>
		<td><%=@car_pertinente.make%></td>
	</tr>
	<tr>
		<td><b><i>Initial_Odometer:</b></i></td>
		<td><%=@car_pertinente.initial_odometer%></td>
	</tr>
	<tr>
		<td><b><i>Cheapest:</b></i></td>
		<td><i>$&nbsp;<%=Service.minimum('average_costo_gal')%></i></td>  
	</tr>
	<tr>
		<td><b><i>Count stations visited:</b></i></td>
		<td><i><%=@state_more_visited%></i></td>  
	</tr>
	
	<br />
	<br />
</table>
<br />
<br />	
	
<table border=1 cellspacing=0 cellpadding=2 bordercolor="493974">
  <thead>
    <tr>
      <th>Gasolinera</th>
	  <th>fecha</th>
      <th>Kilometros</th>
      <th>Galones</th>
      <th>Costo</th>
      <th>Costo/Galon</th>
      <th>KM/Galon</th>
    </tr>
  </thead>
<%# obtengo dodos los services de ese user%>
<%@user_show.services.each do |service|%>         
  <tr>
    <td>
	<%= service.station.name%>
    </td>
	<td>
	<%= service.Date%>
    </td>
	<td>
	<%= service.kmr%>
    </td>
    <td>
	<%= service.cant_gal%>
    </td>
    <td>
     $&nbsp;<%= service.costo_gas%>
    </td>
    <td>
    $&nbsp;<%= service.average_costo_gal%>
    </td>
    <td>
    <%= service.average_km_gas%>
    </td>
    
<% end%>
</table>
</html>