<html>
<table>
	<thead><%#=link_to "new station", new_station_path%></thead>
	<br>
	<tr>
		<td><b><i>Name :</i></b></td>
		<td><%=@station.name%></td>
	</tr>
	<tr>
		<td><b><i>Address :</i></b></td>
		<td><%=@station.address%></td>
	</tr>
	<tr>
		<td><b><i>Average Coste Gasoline(3 month) :</i></b></td>
		<td>&nbsp;$&nbsp;<%=@services.average(:costo_gas, :conditions => ['Date > ?', '(Time.new - 3.month)'])%></td>
	</tr>
	<tr>
		<td><b><i>Average Coste Gasoline(3 month) :</i></b></td>
		<td>&nbsp;$&nbsp;<%=@services.average(:average_costo_gal, :conditions => ['Date > ?', '(Time.new - 3.month)'])%></td>
	</tr>
	<tr>
		<td><b><i>Average Count Gasoline(3 month) :</i></b></td>
		<td>&nbsp;$&nbsp;<%=@services.average(:cant_gal, :conditions => ['Date > ?', '(Time.new - 3.month)'])%></td>
	</tr>
	<tr>
		<td><b><i>Minimum Coste Gasoline(3 month) :</i></b></td>
		<td>&nbsp;$&nbsp;<%=@services.minimum(:costo_gas, :conditions => ['Date > ?', '(Time.new - 3.month)'])%></td>
	</tr>
	<%# @services.each do |i| %>
		<%#= y @services%>
	<%#end%>
</table>
	
</html>