<!DOCTYPE html>

<head>
	<%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>
	<script src='http://www.google.com/jsapi'></script>
	

	
	<%= yield :head %>
	
	
	
	
	
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>My Odometer App</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	
<div id="wrapper">	
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<% if user_signed_in? -%>
			  <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
			<% else -%>
			  <li><%= link_to "Log In", new_user_session_path %></li>
			  <li><%= link_to "Register", new_user_registration_path %></li>
			<% end -%>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			<h1><a href="#">My Odometer App</a></h1>
			<% if user_signed_in?%>
			<p> Hello   <a href="#"><%=link_to current_user.full_name, "#"%></a></p>
			<% end%>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome..!</a></h2>
				<p class="meta"><span class="date">

				</span><span class="posted">
				
				<a href="#"></a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					
					
				</div>
			</div>
			
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<br>
			<%= yield %>

			<%= yield :scripts %>
			<div class="post">
				<%if user_signed_in?%>
					<p class="links"><a href="#"><%= link_to "locate station:", locations_path%></a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><%=link_to "Gasolinera", stations_path %></a>
						&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
						<%if user_signed_in?%>
							<a href="#"><%=link_to "New Gasolinera", new_station_path %></a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
							<%= link_to "Me Profile", profile_path%></a>
						<%end%>
						</p>
				</div>
			<% end%>
			</div>
			<div class="post">
				<%#= link_to "Station:", stations_path%><br />
				<%#= link_to "new entry", ""%>
				<%#= link_to "new entry", new_profile_path%>
					
				</div>
			</div>
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
					<form method="get" action="#">
						<div>
							<input type="text" name="s" id="search-text" value="" />
							<input type="submit" id="search-submit" value="" />
						</div>
					</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
				</li>
				<li>
				
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2011 fidel_jose_villero. All rights reserved. Design by <a href="#"></a>.</p>
	</div>
	<!-- end #footer -->
</body>
</html>

